*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI',  sans-serif;
}
.header{
    margin-top: 100px;
}
.header,h1  {
    animation: fadeInUp 1.7s ease-out;
}
.header h1{
    background-image: url(../images/text-clip01.jpg);
    /* background-position:  center; */
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* font-size: ; */
}
.section-One{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/hcfg.jpg");
    text-align: center;

}
.section-One figure img{
    width: 175px;
    height: 175px;
    border: 4px solid #255cff;
    border-radius: 50%;
    margin-top: 55px;
    box-shadow: 0 0 15px rgb(41, 29, 42);
    
}
.section-One figure figcaption{
    color: rgb(255, 255, 255);
    /* display: inline-block; */
    width: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-right: 3px solid #255cff;
    white-space: nowrap;
    animation: typing 5.5s steps(19) infinite;
}
.my-button{
    color: black;
    background: #255cff;
    text-decoration: none;
    border: 2px solid #458df0;
    border-radius: 15px;
    padding: 13px;
    cursor: pointer;
    margin: auto;
    box-shadow: 0 0 10px rgb(240, 237, 237);
    transition: all 0.4s ease;
}
.my-button:hover{
    background-color: transparent;
    color: azure;
    animation: buttonPulse 1.5s infinite;

}
.section-Two{
    background-color: #4560e8;
    color: lightgray;
    padding: 50px 20px;
}
.section-Two img{
    width: 350px;
    /* max-width: 100%; */
    /* height: auto; */

}
.about-me{
    max-width: 1000px;
    margin: 0 auto;
    /* text-align: center; */
}
.about-me h3{
    text-align: center;
    margin-bottom: 40px;
    color: white;
    border-bottom: 2px solid #255cff;
    display: inline-block;
}
.about-me pre{
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #0333c4;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    color: #d4d4d4;
    
}


.entro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.entro-container p{
    flex: 1 1 100%;
    line-height: 1.6;
    /* margin-bottom: 20px;
    align-items: center; */
    text-align: justify;
    /* width: 50%; */

}
.entro-container img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: block;
    margin: 20px auto;
}
.details-container p {
    background: rgba(255, 255, 255, 0.1);
    border-left: 4px solid #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 5 15px rgb(0,0,0,0.2);
}

@keyframes fadeInUp{
    from{
    opacity: 0;
    transform: translateY(20px);
}
to{
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes buttonPulse{
    0% { transform: scale(1); box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);;}
    50% { transform: scale(1.1);box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);}
    100% { transform: scale(1);box-shadow: 0 0 0 rgba(255, 255, 255, 0);}
}
@keyframes typing {
0% {
    width: 0;
}
40%{
    width: 19ch;
}
90%{
    width: 19ch;
}
100%{
    width: 0;
}
}
@keyframes cursorBlink {
    50%{
        border-color: transparent;
    }
}

@media (min-width: 768px) {
    .section-Two{
        padding: 100px;
    }
    .entro-container{
        flex-direction: row;
        /* align-items: center; */
        
    }
    .entro-container p {
        /* width: 50%; */
        padding-right: 40px;
        flex: 1;
        margin-bottom: 0;
    }
    .entro-container img {
        width: 40%;
        flex: 0 0 350px;
        width: 350px;
        max-width: 40%;
        height: auto;
        margin: 0;
        /* object-fit: cover; */
        /* margin-left: 40px; */
    }

}