*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI',  sans-serif;
    overflow-x: hidden; 
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #02050a;
    border-top: 2px solid #255cff;
    flex-wrap: wrap;
    padding: 40px 20px;
    box-shadow: 0 0 15px #d4d4d4;
    background-image: url(../images/Footer-main.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
    background-size: cover;
    /* border-radius: 15px; */
    
}
.player-info{
    /* border-bottom: 1px solid #00eaff; */
    text-align: justify;
    text-transform: uppercase;
    color: #00eaff;
    
}
.player-info h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.player-info p{
    font-size: 0.9rem;
    margin-bottom: 8px;
    line-height: 20px;
    opacity: 0.9;
    color: #00eaff;
}
.gateways {
    /* padding: 20px; */
    text-align: right;
    width: 50%;
}
/* .gateways a {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #a0a0a0;
    transition: all 0.3s ease;
} */
/* .gateways a span {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all o.5s ease;
    color: #fff;
    font-size: 0.9rem;
} */
.gateways a i {
    font-size: 1.2rem;
    /* color:#a5ecec; */
    /* margin-left: 10px; */
    z-index: 10;
}
.gateways a:hover span{
    /* max-width: 200px; */
    /* opacity: 1; */
    /* margin-right: 10px; */
}
.gateways h3{
    color: #0e9af1;
}

.system-status{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #565555;
    /* align-items: center; */
    color: #00eeffe6;
    
}
.socil-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 25px;
    margin-bottom: 30px;
}
.socil-details a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socil-details a i {
    font-size: 1.5rem;
    color: #00eaff;
    transition: all 0.3s ease;
    z-index: 10;
    padding-top: 15px;

}
.socil-details a span{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    font-size: 0.8rem;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.socil-details a:hover i {
    transform: translateY(-10px);
    text-shadow: 0 0 20px #000a0a;
    background-color: transparent;
    cursor: pointer;

}
.socil-details a:hover span{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 15px;
    color: #00eaff;
}


@media ( max-width: 768px){
    footer{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
    }
    .player-info {
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
    }
    .gateways {
        text-align: center;
        width: 100%;
    }
    .gateways a {
        justify-content: center;

    }
    /* .gateways a span{
        min-width: 100%;
        opacity: 1;
        margin-left: 10px;
    } */
    .contact-info{
        align-items: center;

    }
    .socil-details{
        justify-content: center;
    }
}